<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.question {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 10px;
}
</style>
<body>
<div class="container">
    <form action="{{ url_for('post_quiz', skill=skill, role=role) }}" method="POST" role="form">
        {% for quiz in quiz_per_skill %}
            <div class="question">
                <h2 id={{ quiz.id }}>{{ quiz.domanda }}</h2>
                {% for key, value in quiz.risposte.items() if key != 'Data' %}
                    <div class>
                        <input id={{ key }} type="radio" name={{ quiz.id }} value={{ key }}>
                        <label for={{ key }}>{{ value }}</label>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <input type="submit" value="Submit"/>
    </form>
</div>
</body>
</html>