<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Valutazioni</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<div class="tabella1">
    <table>
        <tr>
            <th>Domanda</th>
            <th>Risposta corretta</th>
            <th>Risposta data</th>
            <th>Corretta</th>
        </tr>
        {% for quiz in quiz_tot %}
            <tr>
                <td>{{ quiz.domanda }}</td>
                <td>{{ quiz.risposte['Esatta'] }}</td>
                <td>{{ quiz.risposte[quiz.risposte['Data']] }}</td>
                <td>{{ quiz.check_risposta() }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<br>
<div class="tabella2">
    <table>
        <tr>
            <th>Skill</th>
            <th>Valutazione</th>
            <th>Percentuale</th>
        </tr>
        {% for counter in counter_tot %}
            <tr>
                <td>{{ counter.skill }}</td>
                <td>{{ counter.risposte_esatte }}/{{ counter.risposte_tot }}</td>
                <td>{{ counter.percentuale() }} %</td>
            </tr>
        {% endfor %}
    </table>
</div>
<img src="../static/images/chart.png" alt="Immagine di esempio">

</body>
</html>